@media (max-width: 1366px) {
    .home__logo {
        max-width: 600px;
    }

    .secciones__footer {
        width: 40%;
    }

    #home {
        gap: 30px;
        background-position: center center;
        background-size: cover;
    }

    .stats {
        margin-top: 0px;
    }

    .home__desc {
        width: 60%;
    }

    .payments__options {
        width: 80%;
    }

    .title__payment {
        width: 80%;
        font-size: 50px;
    }

    .desc__payment {
        width: 70%;
    }

    .img__product__carrito {
        max-width: 100px;
    }

    .cart {
        width: auto;
    }

    .product-list {
        padding: 1rem 2rem;
    }

    .infoProduct h4 {
        max-width: 90%;
        line-height: 18 px;
    }
}

@media(max-width:768px) {

    .footer__container {
        flex-direction: column;
    }

    .product-list {
        padding: 10px;
    }

    .payments__options {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .payments__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        max-width: 90%;
    }

    .options {
        width: 90%;
    }

    .title__payment {
        text-align: center;
        width: 90%;
        font-size: 30px;
        margin: 0rem;
        line-height: 30px;
    }

    .desc__payment {
        width: 100%;
        color: rgb(193, 194, 194);
    }

    .contact__msg {
        display: none;
    }

    .home__logo {
        width: 300px;
    }

    .stats {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .logo__stat {
        margin: 0px;
    }

    .stat {
        flex-direction: row;
        align-items: center;
        width: 90%;
        height: 50px;
        gap: 10px;
        justify-content: space-between;
        padding: 5px;
    }

    .buttons__start {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .stat p {
        display: 100%;
    }

    .left__stat {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .home__desc {
        width: 90%;
        font-size: 15px;
    }

    .news__footer, .secciones__footer {
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .hamburger.actived .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.actived .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.actived .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .cart {
        width: 100%;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        height: 95vh;
        text-align: center;
        transition: 0.5s;
        border-radius: 0px 0px 20px 20px;
        z-index: 200; 
        padding: 20px;
        background-color: #161616c2;
        justify-content: center;
    }

    .nav-item {
        margin: 16px 0px;
    }

    .nav-menu.actived {
        left: 0;
        top: 65px;
        height: 95vh;
        justify-content: center;
        gap: 20px;
        font-size: 30px;
    }

    .categories {
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        flex-wrap: wrap;
    }

    .categories button img {
        width: 250px;
    }

    .search__input {
            width: 80px;
    }

    .active {
        border: 2px solid white;
        box-shadow: 0px 0px 20px rgba(108, 127, 209, 0.534);
    }

    .left {
        align-items: flex-start;
    }
}

@media(max-width:490px) {
    .stats {
        width: 100%;
    }
}