@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
:root {
    --principal: #161616;
    --secundario: #212121;
    --terciario: #00FFE0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

body {
    background-color: var(--principal);
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

ul {
    margin-bottom: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    margin: 0;
}

/* scroll */

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(107, 107, 250) rgba(0, 0, 0, 0);
  }
  
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(109, 109, 252);
    border-radius: 30px;
  }

.section__margin {
    margin: 5rem 0rem;
}

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background: rgba(2, 2, 2, 0.493);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show-overlay {
    display: block;
}

.cart-bubble {
    position: absolute;
    top: 8px;
    right: 15px;
    text-align: center;
    background: rgb(166, 57, 213);
    color: white;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
}

.cart__content h2 {
    margin-bottom: 2rem;
}

.cart {
    backdrop-filter: blur(200px);
    background-color: #ffffff00;
    position: absolute;
    top: 70px;
    right: -600px;
    width: 30%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    color: white;
    transition: all 0.5s ease-in-out;
    z-index: 200;
    overflow-y: scroll;
}

.open-menu {
    right: 0;
    animation: 1s all ease-in-out;
}

.img__product__carrito {
    max-width: 140px;
}

.infoProduct h5 {
    font-weight: 300;
}

.comprar-btn {
    color: white;
}

.borrar-btn {
    color: white;
}

.cart-active {
    right: 0;
}

.infoProduct {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #161616;
    border-radius: 20px;
    margin-top: 10px;
    justify-content:space-between;
}

.trash__container i {
    font-size: 30px;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 90%;
}

.addDelete{
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
}

.addDelete span {
    border: 1px solid white;
    padding: 1px 13px;
}

.addDelete span:hover {
    background-color: #00FFE0;
    cursor: pointer;
}

.comprar-btn, .borrar-btn {
    text-align: center;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.164);
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #161616;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
}

.comprar-btn:hover {
    background-color: #0044ff86;
    cursor: pointer;
}

.cart-total {
    display: flex;
    gap: 10px;
    background-color: #161616;
    margin: 10px 0px;
    padding: 15px 10px;
    border-radius: 20px;
}

.borrar-btn:hover {
    background-color: #4400ff86;
    cursor: pointer;
}

.menos, .mas {
    cursor: pointer;
}

.menos:hover, .mas:hover {
    background-color: #6f00ff;
}

.cart__content {
    background-color: #161616b7;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.616);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
}

main {
    z-index: 1;
    position: relative;
}

.container {
    max-width: 80%;
    margin: auto;
}

.nav-branding {
    display: flex;
}

.nav-shopcar {
    display: flex;
}

.logo {
    max-width: 120px;
    
}

.nav-item a, i {
    color: white;
}

.background__white {
    background-color: #000000e1;
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    /* background-color: #161616d2; */
    z-index: 200;
}

.nav-menu {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 30px;
    z-index: 20;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(179, 113, 255);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.shopcar {
    font-size: 28px;
}

.bar {
    background-color: white;
    border-radius: 5px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bar:nth-child(2) {
    background-color: rgb(179, 113, 255);
    width: 20px;
}

/* Home */ 

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-image: url(./assets/wallhero.png);
    padding-top: 5rem;
}

.home__logo {
    width: 800px;
}

.home__desc {
    color: rgb(183, 183, 183);
    width: 30%;
    text-align: center;
    font-weight: 500;
}

.buttons__start {
    display: flex;
    gap: 30px;
}

.stats {
    display: flex;
    gap: 20px;
    padding: 1.8rem 4rem;
    border-radius: 30px;
    margin-top: 3rem;
}

.stat {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.211);
    background-color: #1616165e;
    backdrop-filter: blur(200px);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
}


.stat p {
    font-weight: 400;
    color: #b0b0b0;
}

.stat h4 {
    font-weight: 500;
}

.logo__stat {
    width: 30px;
    margin-bottom: .6rem;
}

.main__button, .secondary__button {
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    width: 150px;
    text-align: center;
}

.main__button {
    background: linear-gradient(90deg,#fff, #b9b4fc);
    color: #6241a9;
}

.secondary__button {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(200px);
    color: white;
    border: 1px solid rgb(161, 149, 255);
}

/* Productos */

.section__title {
    color: white;
    text-align: center;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.category {
    border-radius: 18px;
    cursor: pointer;
}

.img-category {
    width: 300px;
}

.active {
    border: 3px solid white;
}

.hidden {
    display: none;
}

.btn-load {
    margin: 3rem auto;
    padding: 8px 20px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.form__container, .filter__container {
    background-color: #212121;
    padding: 6px 10px;
    border-radius: 10px;
}
.filter__container {
    display: flex;
    padding: 10px;
    font-size: 23px;
}

i:hover {
    color: rgb(179, 113, 255);
    cursor: pointer;
}

.separador {
    width: 1px;
    height: 30px;
    background-color: rgb(105, 105, 105);
}

button {
    background-color: transparent;
    border: none;
    font-size: 23px;
    display: flex;
}

.separador__cajonera {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #828282;
    margin-top: 20px;
}

.productos__container {
    width: 100%;
    background-color: #21212115;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 10px;
}

.producto {
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-radius: 20px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #161616a2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.486);
}

.img__producto:hover {
    transform: rotate(-10deg) scale(1.2);
    transition: .4s ease-in-out;
}

.descripcion__producto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nombre__producto {
    color: white;
    font-size: 20px;
}

.categoria__producto {
    color: #a4a4a4;
    font-size: 15px;
    font-weight: 300;
}

.precio__container__producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.precio__producto__antes {
    color: #8b8c8c;
    padding: 5px 20px;
    font-weight: 300;
    text-decoration:line-through;
    font-size: 16px;
}

.precio__producto {
    background: linear-gradient(83.35deg, #FF00C7 8.69%, #2400FF 127.08%);
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.img__container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__producto {
    max-width: 200px;
    transition: .4s ease-in-out;
}

.boton__producto {
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.boton__producto:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

/* metodos de pago */

#payments {
    background-image: url(./assets/wallpayments.png);
    background-position: center center;
    padding: 5rem 0rem;
}

.payments__options {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    align-items: center;
    width: 60%;
}

.title__payment {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

.desc__payment {
    color: white;
    width: 50%;
    padding: 10px;
}

.logo-payments {
    font-size: 150px;
}

.option__title {
    color: white;
}

.options {
    backdrop-filter: blur(80px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 500px;
    text-align: center;
}

.option {
    display: flex;
    gap: 10px;
    background-color: #00000041;
    backdrop-filter: blur(100px);
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.323);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.17);
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}

/* Contacto */

#contact {
    background-image: url(./assets/wallcontact.png); 
    background-size: cover;
    background-position: center center;
    padding: 5rem 0rem;
}

.contact__desc {
    background: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.476);
    height: 450px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit__form {
    margin: 10px 0px;
    background-color: #222222;
    cursor: pointer;
    color: white;
    font-weight: 700;
    transition: .5s all ease-in-out;
}

.submit__form:hover {
    background-color: rgb(255, 255, 255);
    transition: .5s all ease-in-out;
    color: black;
}

.contact__msg {
    background: linear-gradient(162.21deg, #27385e52 4.83%, #41153379 103.44%);
    backdrop-filter: blur(30px);
    border-radius: 0px 10px 10px 0px;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__contact {
    width: 150px;
    margin: 2rem 0rem;
}

.campo {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem 0rem;
}

.campo input {
    border-radius: 10px;
    width: 250px;
    padding: 20px;
}

.campo label {
    background-color: white;
    position: relative;
    top: -10px;
    left: 10px;
    padding: 0px 10px;
    width: 35%;
}

.contact__desc p {
    font-size: 20px;
    margin: .5rem 0rem;
    text-align: center;
}


.form input {
    padding: 10px;
    outline: none;
    border: none;
}

.section__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
}

/* footer */

.footer {
    background-color: #232323;
}

.disabled {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
  }
  .disabled:hover {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
  }

.footer__container {
    color: white;
    text-align: center;
    padding: 2rem 0rem;
}

.footer__title {
    font-size: 20px;
}

#home  {
    scroll-margin: 30rem;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: rgb(249, 112, 249);
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
    z-index: 100;
  }

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
  }
  

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  @media(max-width:768px) {

    .hamburger {
        display: block;
    }

    .hamburger.actived .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.actived .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.actived .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .cart {
        width: 80%;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        height: 95vh;
        text-align: center;
        transition: 0.5s;
        border-radius: 0px 0px 20px 20px;
        z-index: 200; 
        padding: 20px;
        background-color: #161616c2;
        justify-content: center;
    }

    .nav-item {
        margin: 16px 0px;
    }

    .nav-menu.actived {
        left: 0;
        top: 65px;
        height: 95vh;
        justify-content: center;
        gap: 20px;
        font-size: 30px;
    }

    .categories {
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        flex-wrap: wrap;
    }

    .categories button img {
        width: 250px;
    }

    .search__input {
            width: 80px;
    }

    .active {
        border: 2px solid white;
        box-shadow: 0px 0px 20px rgba(108, 127, 209, 0.534);
    }
}