@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;1,200;1,300;1,500;1,600;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(291.06deg, #FC4C3F 11.32%, #FD8A5E 25.32%, #DF00DF 48.53%, #51E1E2 88.15%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
}

.form {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(200px);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 2em 3em;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.972);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.517) inset;
}

.form__title {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.form__p {
 font-weight: 300;   
 color: rgb(0, 0, 0);
}

.form__link {
   font-weight: 400;
   color: red; 
}

.form__container {
    margin-top: 3em;
    display: grid;
    gap: 2em;
}

.form__group {
    position: relative;
    --color: #d3d3d37e;
}

.form__input {
    width: 100%;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(203, 203, 203);
    font-family: 'Poppins', sans-serif;
}

.form__label {
    color: rgb(97, 96, 96);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #000000;
}

.form__submit {
    background-color: #ff0000;
    border: none;
    padding: 15px 0px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.form__submit:hover, .volver:hover {
    box-shadow: 0 5px 10px -5px rgba(255, 255, 255, 0.251);
    transform: translateY(-10px);
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transform: scale(0);
    transform: left bottom;
    transition: all .4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
    transform: scale(1);
}

.volver {
    background-color: #913dff;
    border: none;
    padding: 15px 0px;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    border: none;
    outline: none;
}

.topInputs {
    display: flex;
    gap: 5px;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}